# Mac
config.make
Makefile
*.xcodeproj
*.xcconfig
*.plist
*.app

# Win
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
icon.aps
icon.rc
obj
*.vs
*.VC.db
*.VC.opendb
*.exe
*.dll
*.lib
*.exp
*.iobj
*.ipdb

# common