# Mac
config.make
Makefile
*.xcodeproj
*.xcconfig
*.plist
*.app

# Win
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
icon.aps
icon.rc
obj
*.vs
*.VC.db
*.VC.opendb
*.exe
*.dll
*.lib
*.exp
*.iobj
*.ipdb

# common

#########################
# miscellaneous
#########################

.mailmap
runLogs/
recordings/
noGit/
*.mov
*.m4v
*.avi
*.mp4
*.zip
git_no/

/urg_library-1.2.5